
// Palette colors
$black: #000;
$dark-grey: #141414;
$medium-grey: #767676;
$light-grey: #CCC;
$orange: #FF512D;

// Default margins and padding
$section-padding: 15px 20px;
$featured-height: 450px;

// Fonts
$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;

// Remove start defaults
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $font-roboto;
  font-size: 26em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: $font-roboto;
  font-size: 18em;
  font-weight: 700;
  text-transform: uppercase;
}
