.category { 
  height: 250px;
  padding: 20px 0;

  .category-title {
    margin: 0 0 0 14px;
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 2em;
    color: $light-grey;
    text-transform: capitalize;
  }
  
  .row {
    margin: 0;
    max-width: none;
  }

  .small-2 {
    width: 19.5%;
  }
}
