.movie-card {
  height: 130px;
  width: 230px;
  background-color: $light-grey;
  
  .text-block {
    color: white;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 1);
    font-size: 1.4rem;
    font-family: $font-roboto;
  }

}
