.movie-card {
  height: 150px;
  width: 240px;
  background-color: $light-grey;
  position: relative;
  
  .text-block {
    color: white;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 1);
    font-size: 1.4rem;
    font-family: $font-roboto;
  }

  .expand {
    position: absolute;
    bottom: -25px;
    height: 25px;
    width: 240px; 
    background-color: #3A3A3A;
  }
  
  .expand-arrow {
    font-weight: 900;
    font-size: 1.2em;
    color: white;
    margin: 48% 50%;
  }

  .expand:hover {
    cursor: pointer;
    background-color: #2199E8;
    transition: background-color 0.5s ease;
  }

  .glyphicon-chevron-down {
    color: white;
  }
}
